################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/Sharpii/obj/x86
/WadInstaller/obj/Debug
